<div class="h-100  d-flex justify-content-center align-items-center flex-column">
<form class="w-25">
    <h3 class="text-center mb-5">Sign Up</h3>

    <!-- Username input -->
    <div class="form-outline mb-4">
      <input type="text" id="registerUsername" class="form-control" />
      <label class="form-label" for="registerUsername">Username</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="registerEmail" class="form-control" />
      <label class="form-label" for="registerEmail">Email</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="registerPassword" class="form-control" />
      <label class="form-label" for="registerPassword">Password</label>
    </div>

    <!-- Confirm Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="registerConfirmPassword" class="form-control" />
      <label class="form-label" for="registerConfirmPassword">Confirm password</label>
    </div>

    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <input
        class="form-check-input me-2"
        type="checkbox"
        value=""
        id="registerCheck"
        checked
        aria-describedby="registerCheckHelpText"
      />
      <label class="form-check-label" for="registerCheck">
        I have read and agree to the terms
      </label>
    </div>

    <!-- Submit button -->

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-block mb-3 w-100">Sign in</button>
  </div>
</form>
</div>